repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.9
    hooks:
      - id: uv-lock
#      - id: uv-export

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
        files: ^(migrations/|src/|tests/).*
        types_or: [ python, pyi ]
      # Run the import sort.
      - id: ruff-check
        args:
          - --select
          - I
          - --fix
        files: ^(migrations/|src/|tests/).*
        types_or: [ python, pyi ]
      # Run the formatter.
      - id: ruff-format
        files: ^(migrations/|src/|tests/).*
        types_or: [ python, pyi ]

#  - repo: local
#    hooks:
#      - id: pyright
#        name: Run pyright via uvx
#        entry: uvx pyright ./src ./tests
#        language: system
#        pass_filenames: false
