alembic==1.15.2
asyncpg==0.30.0
Authlib==1.5.1
fastapi==0.115.12
fastapi-pagination==0.12.34
fastapi-users-db-sqlalchemy==7.0.0
fastapi-users[sqlalchemy]==14.0.1
orjson==3.10.16
passlib[argon2]==1.7.4
pwdlib==0.2.1
pydantic==2.11.0
pydantic-settings==2.8.1
python3-commons==0.8.10
PyJWT==2.10.1
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.40
uvicorn[standard]==0.34.0
uvloop==0.21.0;platform_system=='Linux'
