alembic==1.11.2
asyncpg==0.28.0
Authlib==1.2.1
fastapi==0.101.0
fastapi-pagination==0.12.7
fastapi-users[sqlalchemy]==12.1.1
orjson==3.9.4
passlib[argon2]==1.7.4
pydantic==1.10.12
python3-commons==0.2.0
PyJWT==2.8.0
python-dateutil==2.8.2
SQLAlchemy==2.0.19
uvicorn[standard]==0.23.2
uvloop==0.17.0
