apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fastapi-project-template.fullname" . }}-backend
  labels:
    {{- include "fastapi-project-template.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 3
  {{- end }}
  selector:
    matchLabels:
      {{- include "fastapi-project-template.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "fastapi-project-template.backend.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imageCredentials.registry }}
      imagePullSecrets:
        - name: {{ include "fastapi-project-template.fullname" . }}-registry
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "fastapi-project-template.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: 3600
      containers:
        - name: {{ .Chart.Name }}-backend
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.backend.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/v1/alive
              port: http
            initialDelaySeconds: 5
            periodSeconds: 30
            timeoutSeconds: 1
            failureThreshold: 1
            terminationGracePeriodSeconds: 60
          readinessProbe:
            httpGet:
              path: /api/v1/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 5
            failureThreshold: 1
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: DB_DSN
              value: "postgresql+asyncpg://{{ .Values.postgresql.username }}:{{ .Values.postgresql.password }}@{{ .Values.postgresql.host | default (printf "%s-db" (include "fastapi-project-template.fullname" .)) }}:{{ .Values.postgresql.port }}/{{ .Values.postgresql.database }}"
            - name: LOGGING_LEVEL
              value: {{ .Values.backend.loggingLevel | quote }}
            - name: SERVICE_ADDR
              value: "0.0.0.0"
            - name: TIMEZONE
              value: {{ .Values.backend.timezone | quote }}
            - name: OIDC_AUTHORITY_URL
              value: 'http://{{ include "fastapi-project-template.fullname" . }}-keycloak:8080/realms/app'
            - name: OPA_URL
              value: 'http://{{ include "fastapi-project-template.fullname" . }}-opa:8181/v1/data/app/authz'
{{- range $key, $val := .Values.backend.env }}
{{- if and (ne $key "OIDC_AUTHORITY_URL") (ne $key "OPA_URL") }}
            - name: {{ $key }}
              value: {{ $val | quote }}
{{- end }}
{{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
