{{- if .Values.ingress.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "fastapi-project-template.fullname" . }}
  labels:
    {{- include "fastapi-project-template.labels" . | nindent 4 }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
    {{- range $item := .Values.ingress.hosts }}
    {{- if $item.host }}
    - match: Host(`{{ $item.host }}`) && PathPrefix(`{{ $item.path }}`)
      kind: Rule
      middlewares:
        - name: compress
          namespace: {{.Release.Namespace}}
        - name: headers
          namespace: {{.Release.Namespace}}
{{/*        - name: ratelimit*/}}
{{/*          namespace: {{.Release.Namespace}}*/}}
      services:
        - name: {{ include "fastapi-project-template.fullname" . }}-{{ $item.name }}
          port: {{ $item.port }}
    {{- end }}
    {{- end }}
{{- end }}
